# Insert the following snippet into your project .npmrc

@encode-npm:registry=https://europe-north1-npm.pkg.dev/encode-artifacts/encode-npm/
//europe-north1-npm.pkg.dev/encode-artifacts/encode-npm/:always-auth=true

